In [27]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [28]:
sakila = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sakila
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [29]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM city')
    result = connection.execute(query)

result

In [30]:


# Function to retrieve rental data for a given month and year
def rentals_month(engine, month, year):
    query = text("""
        SELECT rental_id, rental_date, inventory_id, customer_id, staff_id
        FROM rental
        WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year
    """)
    with engine.connect() as connection:
        df = pd.read_sql(query, connection, params={"month": month, "year": year})
    return df

In [31]:
df_rentals = rentals_month(engine, 2, 2006)

# Display the first few rows
print(df_rentals.head())

   rental_id         rental_date  inventory_id  customer_id  staff_id
0      11496 2006-02-14 15:16:03          2047          155         1
1      11541 2006-02-14 15:16:03          2026          335         1
2      11563 2006-02-14 15:16:03          1545           83         1
3      11577 2006-02-14 15:16:03          4106          219         2
4      11593 2006-02-14 15:16:03           817           99         1

In [32]:
def rental_count_month(df_rentals, month, year):
    # Create the column name based on the month and year
    column_name = f"rentals_{str(month).zfill(2)}_{year}"
    
    # Group by customer_id and count the number of rentals
    rental_counts = df_rentals.groupby('customer_id').size().reset_index(name=column_name)
    
    return rental_counts

In [33]:
df_rental_summary = rental_count_month(df_rentals, 5, 2005)

# Display the result
print(df_rental_summary.head())

   customer_id  rentals_05_2005
0            5                1
1            9                1
2           11                1
3           14                1
4           15                2

In [34]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames on 'customer_id'
    combined_df = pd.merge(df1, df2, on='customer_id')
    
    # Identify rental count columns (they are the only non-ID columns)
    rental_col_1 = df1.columns[1]
    rental_col_2 = df2.columns[1]
    
    # Calculate the difference
    combined_df['difference'] = combined_df[rental_col_1] - combined_df[rental_col_2]
    
    return combined_df

In [35]:
df_rentals_1 = rentals_month(engine,5,2005)
df_rentals_2 = rentals_month(engine,6,2005)

df_rental_summary_1 = rental_count_month(df_rentals_1, 5, 2005)  # Rentals for May 2005
df_rental_summary_2 = rental_count_month(df_rentals_2, 6, 2005)  # Rentals for June 2005

print(df_rental_summary_1.head())
print(df_rental_summary_2.head())

df_comparison = compare_rentals(df_rental_summary_1, df_rental_summary_2)
print(df_comparison.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3
   customer_id  rentals_06_2005
0            1                7
1            2                1
2            3                4
3            4                6
4            5                5
   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7          -5
1            2                1                1           0
2            3                2                4          -2
3            5                3                5          -2
4            6                3                4          -1